 .background {
    overflow: auto;
    height: 100%;
  }
 
  .home {
    overflow: auto;
    height: 100%;
    padding: 20px; 
  }
  
  .titleone {
    margin-top: 1px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 36px;
    color: #0ccac4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .cardcontainer {
    max-width: 100%; 
    margin: 0 auto; 
    overflow: auto;
  }

  