.cardslist {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
    overflow: hidden;
}

.cardcontainer {
    
    background-color: #95dada;
    height: auto;
    width:auto;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin-bottom: 20px; 
    flex-grow: 1; 
    overflow: auto;
 
}