.formPage{
  height: vh;
  width: 80vw;
  display: flex;
  position: relative;
  
}

.form {
  text-align: left; /* Alinea el texto a la izquierda */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente en el formulario */
  gap: 5px; /* Ajusta el espacio vertical entre elementos */
}

.checkBoxes{
  display: flex;
  height: 75%;
  width: 100%;
  
}

.platforms{
  overflow: hidden;
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.genres{
  overflow: hidden;
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.button{
  align-self: flex-end;
  
  bottom: 0;
  
}

.new{
  height: 90%;
  width: 100%;
}